<footer class="footer">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-5">
                <p class="copyright">Copyright Lexstart 2015 </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-7">
                 <div class="footer-nav">
                 <ul>
                    <li><a ui-sref="index.main">Check Our Packages</a></li>
                    <li><a ui-sref="index.lawyers">Our Lawyers</a></li>
                    <li><a href="mailto:example@gmail.com">Contact Us</a></li>
                 </ul>
                 </div>
            </div>
        </div>
</footer>