<div class="wrapper">
  <!--Header-->
    <header class="header inner-page">
        <div class="moblie-nav visible-xs">
            <a href="#menu" id="mmenu"><img src="img/mmenu.png" alt="mobile menu"></a>
        </div>
        <nav id="menu">
              <ul>
                    <li class="active"><a ui-sref="index.main">Check Our Packages </a></li>
                    <li><a ui-sref="index.askalawyer">Ask a lawyer</a></li>
                    <li><a ui-sref="index.lawyers">Our Lawyers</a></li>
                    <li><a href="mailto:example@test.com">Contact</a></li>
                    <li class="clearfix"><a href="#" class="profile"><img src="img/icon-man.png" alt="account"></a> <a href="#" class="basket"><img src="img/icon-basket.png" alt="basket"></a></li>
              </ul>
        </nav>
        <div class="container">
            <div ng-include="'views/common/topnavbar.html'"></div>

            <h1>So you are looking <span><strong>for a lawyer ? </strong></span></h1>
            
        </div>
    </header>
  <!--//Header-->

  <!--Case Section-->
	<section class="case-section" ng-init="case_regular=true;case_urgent=false;">
    	<div class="container">
        	<div class="inner-wrap">
                <form action="#" method="get">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div ng-class="case_regular ? 'case urgent' : 'case'">
                               
                                <input type="radio" id="regular" name="medium" ng-click="case_regular=true;case_urgent=false;" checked> <label for="regular">
                                <strong>Case 1</strong><br>
                                <span></span> Regular
                                <br><br>
                               <small> A lawyer will contact you within 72 hours. You don’t need to pay a fee.</small>
                                </label>
                                
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div ng-class="case_urgent ? 'case urgent' : 'case'">
                             
                                <input type="radio" id="urgent" name="medium" ng-click="case_regular=false;case_urgent=true;" > <label for="urgent">
                                <strong>Case 2</strong><br>
                                <span></span> Urgent
                                <br><br>
                               <small> A lawyer will contact you within 24 hours. You’ll need to pay 1 hour consultation fee.</small>
                                </label>
                                
                            </div>
                        </div>
                    </div>
                    <div class="ask-form">
                            <div class="form-group">
                            <label class="control-label">Your Name</label>
                            <input type="text" class="form-control" ng-model="name">
                            </div>
                            <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea class="form-control" rows="2">Summary of your question</textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">I would like to be contacted by</label>
                                <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="radio" id="rd1" name="medium"> <label for="rd1"><span></span>Mobile Phone</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                <input type="radio" id="rd2" name="medium"> <label for="rd2"><span></span>Email</label>
                                </div>
                                </div>
                            </div>
                                <input type="submit" value="Ask Lawyer">
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>