<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Add new package</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a ui-sref="index.packages" >Packages</a>
            </li>
            <li class="active">
                <strong>New package</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>New package information</h5>

               
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" ng-controller="PackageCtrl" ng-submit="submitFormPackage()" ng-init="listContracts=[]">
                
                    <div class="form-group"><label class="col-lg-2 control-label">Name</label>
                        <span ng-show="form_errors.name" class="text-danger">{{form_errors['name'][0]}}</span>
                        <div class="col-lg-8"><input type="text" ng-model="name" class="form-control"  required> 
                        </div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Description</label>
                        <span ng-show="form_errors.description" class="text-danger">{{form_errors['description'][0]}}</span>
                        <div class="col-lg-8"><textarea class="form-control" ng-model="description" rows="2" required ></textarea></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Price</label>
                        <span ng-show="form_errors.price" class="text-danger">{{form_errors['price'][0]}}</span>
                        <div class="col-lg-8"><input type="text" ng-model="price" class="form-control" required ></div>
                    </div>

                    <hr>
                    <div class="form-group"><label class="col-lg-2 control-label">Contracts</label>
                    
                             <div class="col-lg-8" ng-controller="ContractCtrl" ng-init="getContractList()">
                                    Search: <input type="text" ng-model="search.Contract.$">
                                    <hr>
                                    <div class="blog-title">
                                    <span ng-show="form_errors.list_contracts" class="text-danger">{{form_errors['list_contracts'][0]}}

                                    </span>   
                                </div>
                                    <ul class="list-group pre-scrollable" >
                                        
                                        <li class="list-group-item" ng-repeat="contract in contracts | filter:search:strict">
                                            <div class="row">
                                                <div class="col-lg-7"><strong>{{contract.Contract.title}}</strong>
                                                    <br/>
                                                    <small>{{contract.Contract.description}}</small>
                                                </div>
                                                <div class="col-lg-2" >
                                                    <a type="button" ng-href="#/index/contract/{{contract.Contract.id}}" target="_blank" class="btn btn-sm btn-white">View</a>
                                                </div>
                                                <div class="col-lg-2" >
                                                    <a ng-show="(listContracts.indexOf(contract.Contract.id) == -1)" class="btn btn-sm btn-primary" ng-click="listContracts.push(contract.Contract.id)">Add</a>
                                                    <a ng-show="(listContracts.indexOf(contract.Contract.id) != -1)" class="btn btn-sm btn-white" 
                                                    ng-click="listContracts.splice((listContracts.indexOf(contract.Contract.id)), 1)">Remove</a>
                                                </div>
                                            </div>    
                                       
                                        </li>
                                    </ul>
                            </div> 
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-sm btn-white" >Cancel</button>
                            <button class="btn btn-sm btn-primary" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>

            
        </div>
    </div>
</div>
</div>
