<div class="inmodal">
    <div>
        <div class="modal-header">
            <i class="fa fa-trash-o modal-icon"></i>
            <h4 class="modal-title">Delete package</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure that you want to permanently delete "<strong>{{ name }}</strong>" package?</p>
        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-primary" ng-click="ok('deletePackage', package_id)">Delete</button>
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        </div>
    </div>
</div>

