@media only screen and (max-width: 1200px) {
.item-overlay .title:after{ right:-50px; }
}
@media only screen and (max-width: 991px) { 
.nav-outer .navbar-nav > li > a{ font-size:15px; }
.nav-outer ul li{  padding:0px 12px; }
.bottom-header h1{ font-size:28px; margin-top:40px; }
.search a.need-lawyer{ font-size:16px; }
.best-lawyer h3{ color:#fff; }
.footer-nav ul li{ margin-left:20px; }
.nav-outer .navbar-nav > li > a{ font-size: 14px; }
.nav-outer ul li{ padding: 0px 8px;}
.nav-outer ul li:nth-child(5) a{ padding-left: 15px;  }
.case-section input[type="radio"] + label{ font-size:16px; }
}
@media only screen and (max-width: 768px){
.nav-outer .navbar-toggle .icon-bar{ background: #9A8281; }
.nav-outer .navbar-toggle{  border:1px solid #9A8281; }	
.nav-outer .navbar-header {
position: absolute;
top: -40px;
right: 0px;
}
.nav-outer ul li{ padding-left:0px; }
.nav-outer .navbar{ min-height:0px; }
.top-header ul.account{ text-align:center; margin-top:10px; }
.top-header ul.account li{ display:inline-block; margin-right:10px; }
.top-header ul.account li:first-child , .top-header ul.account li:last-child  { float:none; }
.bottom-header h1{ line-height:34px; font-size:24px; }
.or-line{ padding:30px 0px; }
.or-line:after {
background: #d98a00;
position: absolute;
top: 50%;
left: 0px;
height: 1px;
width: 100%;
content: '';
}
.search a.need-lawyer{ margin-top:0px; }
.search{ padding-bottom:30px; }
.lawyer{ text-align:center; margin-bottom:30px; }
.lawyer .image-outer{ display:inline-block; }
.best-lawyer h2{ font-size:34px; line-height:48px; }
.footer .copyright{text-align:center; }
.footer-nav ul li { display:block; }
.footer-nav ul { text-align:center; }
.case{ margin-bottom:30px; }
.ask-form{ margin-top:30px; }
.need-lawyer{ text-align:center; }
.need-lawyer a{ float:none; }
.table-outer.table-responsive{ border:none; }
.payment-options a.stripe{ margin:0px 20px 20px 0px; }
.table-outer a{ width:11px; display:block;  }
.edit-contact h2{ margin-bottom:20px; }
.edit-profile{ margin-bottom:40px; }
.faq-wrap.ui-accordion .ui-accordion-header{ padding-right:30px; }
.lawyers .lawyer{ margin-bottom:50px; }
.signin-overlay{ padding:100px 15px 0px; }
.mm-list > li > a.profile{ display:inline-block; }
.mm-list > li > a.basket{ display:inline-block; float:right;}
.header .logo{ display:block; text-align:center;}
a#mmenu {
display: inline-block;
position: absolute;
top: 30px;
left: 15px;
padding: 5px 4px;
background: #412118;
border-radius: 6px;
z-index:9;
}
.mm-menu{ background:#F3F3F3; }
.mm-list > li > a, .mm-list > li > span{ color:#000; }
.header .top-header{ margin-top:30px; }
.packages h2{ line-height:50px; }
.moblie-nav {
display: block;
}
}
@media only screen and (max-width: 480px){
.bottom-options > .row > [class*='col-']{ width:100%; float:none; }
.bottom-options .select-wrap{ margin-bottom:20px; }
.bottom-options{ margin:40px 0px; }
.bottom-options .select-wrap{ max-width:100%; }
.bottom-options a.add-to-cart{ display:block; float:none; text-align:center; }
.contact .inner-wrap{ padding:35px 10px 35px 25px; }
.payment-options a.stripe{ margin:0px 0px 20px 0px; }
.payment-options{ text-align:center; }
.item-overlay .title{ font-size:20px; }
}


