<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Contracts list</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li class="active">
                <strong>Contracts</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

<div class="ibox">
<div class="ibox-title">
    
    <div class="ibox-tools">
        <a ui-sref="index.add_contract" class="btn btn-primary btn-xs">Create new contract</a>
    </div>
</div>
<div class="ibox-content">


<div class="project-list" ng-controller="ContractCtrl" ng-init="getContractList()">

    <div class="row m-b-sm m-t-sm">
        <div class="col-md-1">
            <button ng-click="refresh()" type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
        </div>
        <div class="col-md-11">
            <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control" ng-model="search.Contract.$">
            </div>
        </div>
    </div>

    <table class="table table-hover" ts-wrapper>
        <thead>
            <tr>
              <th ts-criteria="Contract.title|lowercase" ts-default>Title</th>
              <th ts-criteria="Contract.description|lowercase">Description</th>
              <th ts-criteria="Contract.price|parseFloat">Price</th>
              <th class="text-center">Actions</th>
            </tr>
        </thead>
    <tbody>

    <tr ng-repeat="contract in contracts | tablesort | filter:search  | startFrom: paginationContract.page * paginationContract.perPage | limitTo: paginationContract.perPage "  ts-repeat >
        <td class="project-title">
            <a  ng-href="#/index/contract/{{contract.Contract.id}}" >{{contract.Contract.title}}</a>
        </td>
       
        <td class="project-detail">
            <p>{{contract.Contract.description}}</p>
        </td>
        <td class="project-detail">
            <p>${{contract.Contract.price}}</p>
        
        </td>
        <td class="project-actions">
            <a ng-href="#/index/contract/{{contract.Contract.id}}" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
            <a ng-href="#/index/edit_contract/{{contract.Contract.id}}" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
            <a data-toggle="modal" href="#" data-target="#modal" class="btn btn-white btn-sm" ng-click="openModal( contract.Contract.id, contract.Contract.title)" ><i class="fa fa-remove"></i> Delete </a>
        </td>
    </tr>

    </tbody>
    </table>
    <ul class="pagination">
        <li><a href="" ng-click="paginationContract.prevPage()">&laquo;</a></li>
          <li ng-repeat="n in [] | range: paginationContract.numPages" ng-class="{active: n == paginationContract.page}">
          <a href="" ng-click="paginationContract.toPageId(n)">{{n + 1}}</a>
          </li>
          <li><a href="" ng-click="paginationContract.nextPage()">&raquo;</a></li>
    </ul>

</div>


</div>
</div>
</div>
</div>
</div>
